<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/layout}"
>
<head>
<style>
	.image-preview {
		height: 500px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #d3d3d3;
	}
</style>
<link th:href="@{/libs/bootstrap-table-master/dist/bootstrap-table.min.css}" rel="stylesheet">
<link th:href="@{/libs/bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.css}" rel="stylesheet">

</head>

	<div layout:fragment="content" class="container-fluid p-0">

	<h1 class="h3 mb-3">홈 화면</h1>

	<div class="row">
		<div class="col-md-3 col-xl-2">

			<div class="card">
<!-- 				<div class="card-header">
					<h5 class="card-title mb-0">Profile Settings</h5>
				</div> -->

				<div class="list-group list-group-flush rounded-0" role="tablist">
					<a class="list-group-item list-group-item-action active" data-toggle="list" href="#background" role="tab">
						배경 설정
				    </a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#widget" role="tab">
						위젯 관리
				    </a>
				</div>
			</div>
		</div>

		<div class="col-md-9 col-xl-10">
			<div class="tab-content">
				
				<div class="tab-pane fade show active" id="background" role="tabpanel">
					<div class="card rounded-0">
						<div class="card-header">
							<h5 class="card-title mb-0">배경 설정</h5>
						</div>
						<div class="card-body">
							<form method="post" action="/admin/index/save-background" enctype="multipart/form-data">
								<input type="hidden" name="prototypeId" th:value="${prototypeMasterVO.prototypeId}">
								<input type="hidden" name="backgroundId" th:value="${prototypeBackgroundVO.backgroundId}">
								<div class="row">
									<div class="col-12 image-preview" id="image-preview" th:style="'background-image: url(' + @{/upload/} + ${fileVO.fileName} + ');'">
									
									</div>
								</div>
								<div class="row">
									<div class="mb-3">
										<label class="form-label w-100"><small class="form-text text-muted">파일은 하나만 추가할 수 있습니다.</small></label>
										<input id="file" name="background-image" type="file">
										<br>	
									</div>
									
								</div>
								
								<div class="mt-3">
									<button type="submit" class="btn rounded-0 btn-primary">저장</button>
<!-- 									<button type="submit" class="btn rounded-0 btn-success">미리보기</button> -->
								</div>
							</form>

						</div>
					</div>				
				</div>
				
				<div class="tab-pane fade" id="widget" role="tabpanel">
					<div class="card rounded-0">
						<div class="card-header">
							<h5 class="card-title">위젯 관리</h5>
							<button class="btn btn-square btn-success float-right" data-toggle="modal" data-target="#modal-widget-create">위젯 생성</button>
							<!-- <h6 class="card-subtitle text-muted">Using the most basic table markup, here’s how .table-based tables look in Bootstrap.</h6> -->
						</div>
						<div class="card-body">
						<form>
						<table class="table table-sm">
							<thead>
							    <tr>
							    	<th scope="col">순번</th>
							      <th scope="col">위젯 종류</th>
							      <th scope="col">활성화 여부</th>
							      <th scope="col">관리</th>
							    </tr>
							  </thead>
							<tbody>
							<tr>
						      <td>1</td>
						      <td><button class="btn btn-sm btn-square btn-warning">언약</button></td>
						      <td><i class="align-middle" data-feather="eye"></i></td>
						      <td class="table-action">
								<a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
									<a href="#"><i class="align-middle" data-feather="trash"></i></a>
								</td>
						    </tr>
						    <tr>
						      <td>2</td>
						      <td><button class="btn btn-sm btn-square btn-info">친구</button></td>
						      <td><i class="align-middle" data-feather="eye-off"></i></td>
						      <td class="table-action">
								<a href="#"><i class="align-middle" data-feather="edit-2"></i></a>
									<a href="#"><i class="align-middle" data-feather="trash"></i></a>
								</td>
						    </tr>
							</tbody>
						</table>
							<button type="submit" class="btn rounded-0 btn-primary">저장</button>
						</form>
						</div>
					</div>
				</div> <!-- #job-classes -->

	
			<div class="modal fade" id="modal-widget-create" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content rounded-0">
					<div class="modal-header">
						<h5 class="modal-title">새 위젯</h5>
						<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body m-0">
					
						<form>
							<div class="mb-3 row">
								<label class="col-form-label col-sm-3 text-sm-right">위젯 이름</label>
								<div class="col-sm-9">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="mb-3 row">
								<label class="col-form-label col-sm-3 text-sm-right">위젯 유형</label>
								<div class="col-sm-9">
									<select name="widgetType" class="form-control" required> <!-- data-code="widget_type" -->
										<option>친구 모집</option>
										<option>공대원 모집</option>
										<option>언약 희망</option>
										<option>공대 가입 희망</option>
									</select>
								</div>
							</div>
							<div class="mb-3 row">
								<label class="col-form-label col-sm-3 text-sm-right">언약 시트</label>
								<div class="col-sm-9">
									<select name="bondingSheet" class="form-control" required> <!-- data-code="widget_type" -->
										<option>친구 모집</option>
										<option>공대원 모집</option>
										<option>언약 희망</option>
										<option>공대 가입 희망</option>
									</select>
								</div>
							</div>
							<div class="mb-3 row">
								<label class="col-form-label col-sm-3 text-sm-right">해당 임무</label>
								<div class="col-sm-9">
									<select name="duty" class="form-control" required> <!-- data-code="widget_type" -->
										<option>친구 모집</option>
										<option>공대원 모집</option>
										<option>언약 희망</option>
										<option>공대 가입 희망</option>
									</select>
								</div>
							</div>
							<div class="mb-3 row">
								<label class="col-form-label col-sm-3 text-sm-right">한 마디</label>
								<div class="col-sm-9">
									<textarea class="form-control" rows="3" maxlength="54"></textarea>
								</div>
							</div>
							<div class="mb-3 row">
								<label class="col-form-label col-sm-3 text-sm-right pt-sm-0">활성화</label>
								<div class="col-sm-9">
									<label class="form-check m-0"> <input type="checkbox"
										class="form-check-input"> <span
										class="form-check-label">이 위젯을 메인 화면에 노출합니다.</span>
									</label>
								</div>
							</div>
							<!-- 										<div class="mb-3 row"> -->
							<!-- 											<div class="col-sm-10 ml-sm-auto"> -->
							<!-- 												<button type="submit" class="btn btn-primary">Submit</button> -->
							<!-- 											</div> -->
							<!-- 										</div> -->
						</form>

						<div class="alert alert-danger alert-dismissible rounded-0" role="alert">
							<button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
							<div class="alert-message">
								<strong>Hello there!</strong> A simple primary alert—check it out!
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-square btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-square btn-success">Create</button>
					</div>
				</div>
			</div>
		</div><!-- #modal-code-create -->
		

	<script
	  src="https://code.jquery.com/jquery-3.5.1.js"
	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	  crossorigin="anonymous"></script>
	<script th:src="@{/libs/TableDnD-master/js/jquery.tablednd.js}"></script>
	<script th:src="@{/libs/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script th:src="@{/libs/bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.min.js}"></script>  
	<script>
		$(document).ready(function() {
			$(document).on('change', '#file', function() {
				imagePreview(this);
			})
			
			function imagePreview(input) {
			    if(input.files && input.files[0]) {
// 			        var file = input.files[0].value;
			        
// 			        var imgHeader = file.lastIndexOf("\\");
// 			        var imgMiddle = file.lastIndexOf(".");      
// 			        var imgName = file.substring(imgHeader+1, imgMiddle);
			      
// 			        var filepoint = file.substring(imgMiddle+1,img.length);
// 			        var imgtype = filepoint.toLowerCase();
// 			        alert(imgHeader +"/"+ imgMiddle +"/"+ imgName + "/" + imgtype);
			        
// 			        if ( imgtype != "jpg" ){
// 			            $(input).val('');
// 			            alert("사진은 jpg 파일만 업로드할 수 있습니다.");
			     
// 			            return;
// 			        }
			        
			        // FileReader 인스턴스 생성
			        const reader = new FileReader()
			        // 이미지가 로드가 된 경우
			        reader.onload = e => {
			            const target = document.getElementById("image-preview")
			            $(target).css('background-image', 'url(\"' + e.target.result + '\")');
			        }
			        // reader가 이미지 읽도록 하기
			        reader.readAsDataURL(input.files[0])
			    }
			}

		})
	</script>
</div>
</html>