
demo.gradle/.gradle/6.8.3/executionHistory/executionHistory.bin
demo.gradle/.gradle/6.8.3/executionHistory/executionHistory.lock
demo.gradle/.gradle/6.8.3/fileHashes/fileHashes.bin
demo.gradle/.gradle/6.8.3/fileHashes/fileHashes.lock
demo.gradle/.gradle/buildOutputCleanup/buildOutputCleanup.lock
demo.gradle/.gradle/buildOutputCleanup/outputFiles.bin
demo.gradle/.project
demo.gradle/.settings/org.eclipse.wst.common.component
demo.gradle/.settings/org.eclipse.wst.common.project.facet.core.xml
