<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/layout}"
>
<head>
</head>

	<div layout:fragment="content" class="container-fluid p-0">

					<h1 class="h3 mb-3">계정 설정</h1>

					<div class="row">
						<div class="col-md-3 col-xl-2">

							<div class="card rounded-0">
<!-- 								<div class="card-header">
									<h5 class="card-title mb-0">Profile Settings</h5>
								</div> -->

								<div class="list-group list-group-flush rounded-0" role="tablist">
									<a class="list-group-item list-group-item-action active" data-toggle="list" href="#account" role="tab">
							        	계정 설정
							        </a>
									<a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
							        	패스워드
							        </a>
									<a class="list-group-item list-group-item-action" data-toggle="list" href="#delete-account" role="tab">
							        	회원 탈퇴
							        </a>
								</div>
							</div>
						</div>

						<div class="col-md-9 col-xl-10">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="account" role="tabpanel">

									<div class="card rounded-0">
										<div class="card-header">

											<h5 class="card-title mb-0">계정 설정</h5>
										</div>
										<div class="card-body">
											<form>
												<div class="row">
													<div class="col-md-8">
														<div class="mb-3">
															<label class="form-label" for="username">닉네임</label>
															<input type="text" class="form-control" id="username">
														</div>
														<div class="mb-3">
															<label class="form-label" for="inputUsername">한마디</label>
															<textarea rows="2" class="form-control" id="inputBio"></textarea>
														</div>
													</div>
													<div class="col-md-4">
														<div class="text-center">
															<img alt="Charles Hall" th:src="@{/libs/adminkit-master/static/img/avatars/avatar.jpg}" class="rounded-circle img-responsive mt-2" width="128" height="128" />
															<div class="mt-2">
																<input id="file" type="file" style="display: none;">
																<span class="btn btn-primary rounded-0" onclick="$('#file').click();"><i class="fas fa-upload"></i> Upload</span>
															</div>
															<small>For best results, use an image at least 128px by 128px in .jpg format</small>
														</div>
													</div>
												</div>

												<button type="submit" class="btn btn-primary rounded-0">Save changes</button>
											</form>

										</div>
									</div>

								</div>
								<div class="tab-pane fade" id="password" role="tabpanel">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">비밀번호</h5>

											<form>
												<div class="mb-3">
													<label class="form-label" for="inputPasswordCurrent">현재 비밀번호</label>
													<input type="password" class="form-control" id="inputPasswordCurrent">
													<small><a href="#">Forgot your password?</a></small>
												</div>
												<div class="mb-3">
													<label class="form-label" for="inputPasswordNew">새 비밀번호</label>
													<input type="password" class="form-control" id="inputPasswordNew">
												</div>
												<div class="mb-3">
													<label class="form-label" for="inputPasswordNew2">비밀번호 확인</label>
													<input type="password" class="form-control" id="inputPasswordNew2">
												</div>
												<button type="submit" class="btn btn-primary rounded-0">Save changes</button>
											</form>

										</div>
									</div>
								</div>
								
								<div class="tab-pane fade" id="delete-account" role="tabpanel">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">회원 탈퇴</h5>

											<form>
												<div class="mb-3">
													<label class="form-label" for="inputPasswordCurrent">비밀번호</label>
													<input type="password" class="form-control" id="inputPasswordCurrent">
													<small><a href="#">Forgot your password?</a></small>
												</div>
												<button type="submit" class="btn btn-danger rounded-0">탈퇴하기</button>
											</form>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
	<script
	  src="https://code.jquery.com/jquery-3.5.1.js"
	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	  crossorigin="anonymous"></script>
	<script th:src="@{/libs/TableDnD-master/js/jquery.tablednd.js}"></script>
	<script th:src="@{/libs/bootstrap-table-master/dist/bootstrap-table.min.js}"></script>
	<script th:src="@{/libs/bootstrap-table-master/dist/extensions/reorder-rows/bootstrap-table-reorder-rows.min.js}"></script>  
	<script>
	
	
	
	
	</script>
</div>
</html>