<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
<head>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

 	<style>
 		body {
			height: 100%;
			box-shadow: none;
		}
		
		@media (min-width: 768px) {
			body {
				height: 100%;
				box-shadow: none;
			}
		
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}

		}
		
		.card {
			text-align: justify;
			text-shadow: none;
		}
		
		.table {
			font-size: 12px;
		}
		
 		.carousel-item {
			/*background-image: url('https://source.unsplash.com/random');*/
			background-repeat : no-repeat;
			background-position: center center;
			background-size : cover;
		}
		
		.carousel .carousel-item {
		  /* height: 20em; */
		}
/* 		.carousel .carousel-item > *:first-child {
		  background-position: 50%;
		  background-repeat: no-repeat;
		  background-size: cover;
		  height: inherit;
		} */

	</style>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script>
		var myCarousel = document.querySelector('#carouselExampleCaptions');
		var carousel = new bootstrap.Carousel(myCarousel);

	</script>
</head>

<div layout:fragment="content" class="cover-container d-flex w-100 p-3 mx-auto flex-column">

		<div id="carouselExampleCaptions" class="carousel slide mt-2" data-bs-ride="carousel">
		  <div class="carousel-indicators">
		    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
		    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		  </div>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		    	<img th:src="@{/example/images/EzHWeqRVIAE3WsB.jpg}" class="d-block w-100" alt="...">
<!-- 		    	<img src="https://source.unsplash.com/random" class="d-block w-100" alt="..."> -->
<!-- 		      <div class="carousel-caption d-none d-md-block">
		        <h5>First slide label</h5>
		        <p>Some representative placeholder content for the first slide.</p>
		      </div> -->
		    </div>
		    <div class="carousel-item">
		      <img th:src="@{/example/images/photo_02.jpg}" class="d-block w-100" alt="...">
<!-- 		      	<img src="https://source.unsplash.com/random" class="d-block w-100" alt="..."> -->
<!-- 				<div class="carousel-caption d-none d-md-block">
		        <h5>Second slide label</h5>
		        <p>Some representative placeholder content for the second slide.</p>
		      </div> -->
		    </div>
		    <div class="carousel-item">
		      <img th:src="@{/example/images/photo_05.jpg}" class="d-block w-100" alt="...">
<!-- 		      	<img src="https://source.unsplash.com/random" class="d-block w-100" alt="..."> -->
<!-- 				<div class="carousel-caption d-none d-md-block">
		        <h5>Third slide label</h5>
		        <p>Some representative placeholder content for the third slide.</p>
		      </div> -->
		    </div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="visually-hidden">Next</span>
		  </button>

	</div>
	
	<hr class="mt-2 mb-2">
	  
	  <table class="table table-sm table-dark" style="text-align : left;">
		  <thead>
		    <tr>
		      <th scope="col" colspan="1"># Basic Profile</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">이름</th>
		      <td title="인게임 닉네임과 다릅니다.">Somebody 《꺾이지 않는 충성》</td>
		    </tr>
		    <tr>
		      <th scope="row">총사령부</th>
		      <td><img class="icon" th:src="@{/images/icons/grand_company/the_maelstrom/first_storm_lieutenant.png}">흑와단 (중위)</td>
		    </tr>
		    <tr>
		      <th scope="row">종족 / 부족 / 성별</th>
		      <td>휴런 / 중원 부족 / 여성</td>
		    </tr>
		    <tr>
		      <th scope="row">시작 도시</th>
		      <td><img class="icon" th:src="@{/images/icons/city/limsa_lominsa.png}">림사 로민사</td>
		    </tr>
		    <tr>
		      <th scope="row">생일</th>
		      <td>별빛 1월 1일</td>
		    </tr>
		    <tr>
		      <th scope="row">수호신</th>
		      <td><img class="icon" th:src="@{/images/icons/the_twelve/halone.png}">할로네</td>
		    </tr>
		  </tbody>
		</table>
	  
	  <table class="table table-sm table-dark" style="text-align : left;">
		  <thead>
		    <tr>
		      <th scope="col" colspan="1"># Status</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">고향 서버</th>
		      <td>모그리(한국)</td>
		    </tr>
		    <tr>
		      <th scope="row">주직</th>
		      <td><img class="icon" th:src="@{/images/icons/job/gunbreaker.png}"> 건브레이커(Lv.80)</td>
		    </tr>
		    <tr>
		      <th scope="row">언약자</th>
		      <td>없음 <a href="#none" onclick="alert('언약 시트 모달 팝업')">[언약 희망 : 골드 플랜]</a></td>
		    </tr>
		  </tbody>
		</table>
	  
	  <table class="table table-sm table-dark" style="text-align : left;">
		  <thead>
		    <tr>
		      <th scope="col" colspan="3"># Job / Class</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th rowspan="9">Class</th>
		      <td><img class="icon" th:src="@{/images/icons/class/gladiator.png}"> 검술사</td>
		      <td>LV.7</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/class/marauder.png}"> 도끼술사</td>
		      <td>LV.0</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/class/conjurer.png}"> 환술사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/class/pugilist.png}"> 격투사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/class/lancer.png}"> 창술사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/class/rogue.png}"> 쌍검사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/class/archer.png}"> 궁술사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/class/thaumaturge.png}"> 주술사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/class/arcanist.png}"> 비술사</td>
		      <td>LV.70</td>
		    </tr>
		    
		    <tr>
		      <th rowspan="17">Job</th>
		      <td><img class="icon" th:src="@{/images/icons/job/paladin.png}"> 나이트</td>
		      <td>LV.7</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/warrior.png}"> 전사</td>
		      <td>LV.0</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/dark_knight.png}"> 암흑기사</td>
		      <td>LV.80</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/paladin.png}"> 건브레이커</td>
		      <td>LV.80</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/white_mage.png}"> 백마도사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/scholar.png}"> 학자</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/astrologian.png}"> 점성술사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/monk.png}"> 몽크</td>
		      <td>LV.0</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/dragoon.png}"> 용기사</td>
		      <td>LV.0</td>
		    </tr>		    
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/samurai.png}"> 사무라이</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/bard.png}"> 음유시인</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/machinist.png}"> 기공사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/dancer.png}"> 무도가</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/black_mage.png}"> 흑마도사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/summoner.png}"> 소환사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/red_mage.png}"> 적마도사</td>
		      <td>LV.70</td>
		    </tr>
		    <tr>
		      <td><img class="icon" th:src="@{/images/icons/job/blue_mage.png}"> 청마도사</td>
		      <td>LV.70</td>
		    </tr>
		  </tbody>
		</table>

		<table class="table table-sm table-dark" style="text-align : left;">
		  <thead>
		    <tr>
		      <th scope="col" colspan="4"># Main Quest</th>
		    </tr>
		  </thead>
		  <tbody>
			<tr>
				<th rowspan="5">신생 에오르제아</th>
				<td>2.0</td>
				<td>각성한 자들</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>2.1</td>
				<td>혼돈의 소용돌이</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>2.2</td>
				<td>에오르제아의 수호자</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>2.3</td>
				<td>빙결의 환상</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>2.4</td>
				<td>희망의 등불</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>

			<tr>
				<th rowspan="6">창천의 이슈가르드</th>
				<td>3.0</td>
				<td>창천의 이슈가르드</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>3.1</td>
				<td>빛과 어둠의 경계</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>3.2</td>
				<td>운명의 톱니바퀴</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>3.3</td>
				<td>최후의 포효</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>3.4</td>
				<td>혼을 계승하는 자</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>3.5</td>
				<td>숙명의 끝</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>

			<tr>
				<th rowspan="6">홍련의 해방자</th>
				<td>4.0</td>
				<td>홍련의 해방자</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>4.1</td>
				<td>영웅의 귀환</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>4.2</td>
				<td>새벽의 빛</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>4.3</td>
				<td>월하의 꽃</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>4.4</td>
				<td>광란의 전주곡</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>4.5</td>
				<td>영웅을 위한 진혼가</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>

			<tr>
				<th rowspan="6">칠흑의 반역자</th>
				<td>5.0</td>
				<td>칠흑의 반역자</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>5.1</td>
				<td>하얀 서약, 검은 밀약</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>5.2</td>
				<td>추억의 흉성</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_final_step.png}"></td>
			</tr>
			<tr>
				<td>5.3</td>
				<td>크리스탈의 잔광</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_in_progress.png}"></td>
			</tr>
			<tr>
				<td>5.4</td>
				<td>또 하나의 미래</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_available.png}"></td>
			</tr>
<!-- 			<tr>
				<td>5.5</td>
				<td>여명의 사투</td>
				<td><img class="icon" th:src="@{/images/icons/duty/main_quests_available.png}"></td>
			</tr> -->






		</tbody>
		</table>
		
		<table class="table table-sm table-dark" style="text-align : left;">
		  <thead>
		    <tr>
		      <th scope="col" colspan="4"># Duty Status</th>
		    </tr>
		  </thead>
		  <tbody>
			
			<tr>
				<th rowspan="20">신생</th>
				<th rowspan="13"><img class="icon" th:src="@{/images/icons/duty/trial.png}"> 일반 토벌전</th>
				<td>이프리트 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>타이탄 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>가루다 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>리트아틴 강습전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>아씨엔 나브리알레스 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>성도 이슈가르드 방어전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>진 이프리트 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>진 가루다 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>진 타이탄 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>선왕 모그루 모그 XII세 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>진 리바이어선 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>진 라무 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>진 시바 토벌전</td>
				<td>완</td>
			</tr>

			<tr>
				<th rowspan="7"><img class="icon" th:src="@{/images/icons/duty/high_end_duties.png}"> 고난도 토벌전</th>
				<td>극 가루다 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 타이탄 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 이프리트 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극왕 모그루 모그 XII세 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 리바이어선 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 라무 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 시바 토벌전</td>
				<td>완</td>
			</tr>
			
			<tr>
				<th rowspan="12">창천</th>
				<th rowspan="7"><img class="icon" th:src="@{/images/icons/duty/trial.png}"> 토벌전</th>
				<td>진 라바나 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>진 비스마르크 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>나이츠 오브 라운드 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>니드호그 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>마신 세피로트 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>여신 소피아 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>귀신 주르반 토벌전</td>
				<td>완</td>
			</tr>

			<tr>
				<th rowspan="5"><img class="icon" th:src="@{/images/icons/duty/high_end_duties.png}"> 고난도 토벌전</th>
				<td>극 비스마르크 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 라바나 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 마신 세피로트 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 여신 소피아 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 귀신 주르반 토벌전</td>
				<td>완</td>
			</tr>
			
			<tr>
				<th rowspan="14">홍련</th>
				<th rowspan="7"><img class="icon" th:src="@{/images/icons/duty/trial.png}"> 토벌전</th>
				<td>스사노오 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>락슈미 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>신룡 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>츠쿠요미 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>백호 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>주작 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>청룡 토벌전</td>
				<td>완</td>
			</tr>

			<tr>
				<th rowspan="7"><img class="icon" th:src="@{/images/icons/duty/high_end_duties.png}"> 고난도 토벌전</th>
				<td>극 스사노오 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 락슈미 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 신룡 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 츠쿠요미 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 백호 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 주작 토벌전</td>
				<td>완</td>
			</tr>
			<tr>
				<td>극 청룡 토벌전</td>
				<td>완</td>
			</tr>
		</tbody>
		</table>

</html>