<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
<head>
	<!-- <link rel="stylesheet" th:href="@{/libs/templatemo_434_masonry/css/normalize.css}"> -->
	<!-- <link rel="stylesheet" th:href="@{/libs/templatemo_434_masonry/css/font-awesome.css}"> -->
	<!-- <link rel="stylesheet" th:href="@{/libs/templatemo_434_masonry/css/bootstrap.min.css}"> -->
	<link rel="stylesheet" th:href="@{/libs/templatemo_434_masonry/css/templatemo-style.css}">
	<script th:src="@{/libs/templatemo_434_masonry/js/vendor/modernizr-2.6.2.min.js}"></script>
	<script th:src="@{/libs/templatemo_434_masonry/js/vendor/jquery-1.10.2.min.js}"></script>
	<script th:src="@{/libs/templatemo_434_masonry/js/min/plugins.min.js}"></script>
	<script th:src="@{/libs/templatemo_434_masonry/js/min/main.min.js}"></script>
	
	<!-- Bootstrap core CSS -->
	<link th:href="@{/libs/bootstrap-5.0.0-beta3-examples/assets/dist/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->

</head>

<div layout:fragment="content" class="cover-container d-flex w-100 p-3 mx-auto flex-column">

<!--         <div id="loader-wrapper">
            <div id="loader"></div>
        </div> -->

<!--         <div class="content-bg"></div>
        <div class="bg-overlay"></div> -->
        
        <!-- MAIN POSTS -->
        <div class="main-posts">
            <div class="container">
                <div class="row">
                    <!-- <div class="blog-masonry masonry-true"> -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/1.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Title one goes here</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">25 Jan 2084</span>
                                        <h4><a href="#">Title one goes here</a></h4>
                                        <p>Cum sociis natoque penatibus et magnis dis parturient</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/2.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Second Image Title</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">24 Jan 2084</span>
                                        <h4><a href="#">Second Image Title</a></h4>
                                        <p>Donec venenatis libero sapien, eu condimentum lacus</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/3.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Image Number Three</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">23 Jan 2084</span>
                                        <h4><a href="#">Image Number Three</a></h4>
                                        <p>Sed vitae lacus eget ipsum scelerisque condimentum</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/4.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Aliquam sed magna risus</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">22 Jan 2084</span>
                                        <h4><a href="#">Aliquam sed magna risus</a></h4>
                                        <p>Praesent pharetra blandit ex sed imperdiet</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/5.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Lorem ipsum dolor sit</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">21 Jan 2084</span>
                                        <h4><a href="#">Lorem ipsum dolor sit</a></h4>
                                        <p>Vestibulum faucibus lacus ac risus efficitur</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/6.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Praesent eget lectus mauris</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">20 Jan 2084</span>
                                        <h4><a href="#">Praesent eget lectus mauris</a></h4>
                                        <p>Morbi placerat pellentesque tortor, sed auctor dolor</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/7.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Donec nec metus non</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">15 Jan 2084</span>
                                        <h4><a href="#">Donec nec metus non</a></h4>
                                        <p>Phasellus eu sapien sagittis, sodales neque ac</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/8.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Vestibulum faucibus lacus</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">14 Jan 2084</span>
                                        <h4><a href="#">Vestibulum faucibus lacus</a></h4>
                                        <p>In aliquet et tellus in iaculis. Ut fermentum quis tellus</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                        <div class="post-masonry col-lg-4 col-md-6 col-sm-1">
                            <div class="post-thumb">
                                <img th:src="@{/libs/templatemo_434_masonry/images/9.jpg}" alt="">
                                <div class="title-over">
                                    <h4><a href="#">Pellentesque habitant morbi</a></h4>
                                </div>
                                <div class="post-hover text-center">
                                    <div class="inside">
                                        <i class="fa fa-plus"></i>
                                        <span class="date">13 Jan 2084</span>
                                        <h4><a href="#">Pellentesque habitant morbi</a></h4>
                                        <p>Fusce ullamcorper diam vel arcu scelerisque</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.post-masonry -->
                    </div>
                </div>
            </div>
        </div>

<!-- </div> -->

</html>