<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
<head>
	<!-- <link rel="stylesheet" th:href="@{/libs/templatemo_434_masonry/css/normalize.css}"> -->
	<!-- <link rel="stylesheet" th:href="@{/libs/templatemo_434_masonry/css/font-awesome.css}"> -->
	<!-- <link rel="stylesheet" th:href="@{/libs/templatemo_434_masonry/css/bootstrap.min.css}"> -->
	<link rel="stylesheet" th:href="@{/libs/templatemo_434_masonry/css/templatemo-style.css}">
	<script th:src="@{/libs/templatemo_434_masonry/js/vendor/modernizr-2.6.2.min.js}"></script>
	<script th:src="@{/libs/templatemo_434_masonry/js/vendor/jquery-1.10.2.min.js}"></script>
	<script th:src="@{/libs/templatemo_434_masonry/js/min/plugins.min.js}"></script>
	<script th:src="@{/libs/templatemo_434_masonry/js/min/main.min.js}"></script>
	
	<!-- Bootstrap core CSS -->
	<!-- <link th:href="@{/libs/bootstrap-5.0.0-beta3-examples/assets/dist/css/bootstrap.min.css}" rel="stylesheet"> -->
	<!-- Custom styles for this template -->
 	<style>
 	
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}
		.background-image-full {
			background-image: url('https://source.unsplash.com/random');
			background-repeat : no-repeat;
			background-position: center center;
			background-size : cover;
		}
		
		body {
			height: 100%;
			box-shadow: none;
		}

		.pagination {
			font-size: 14px;
		  color: white;
		  display: inline-block;
		}
		
		.pagination a {
		  color: #f8f9fa;
		  float: left;
		  padding: 4px 8px;
		  text-decoration: none;
		}
		.pagination a.active {
		  background-color: #f8f9fa;
		  color: #343a40;
		}
	
		.pagination a:hover:not(.active) {background-color: #ddd;}
		
		@media (min-width: 768px) {
			body {
				height: 100%;
				box-shadow: none;
			}
		
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
						
			.pagination {
			  color: white;
			  display: inline-block;
			}
			
			.pagination a {
			  color: #f8f9fa;
			  float: left;
			  padding: 8px 16px;
			  text-decoration: none;
			}
			.pagination a.active {
			  background-color: #f8f9fa;
			  color: #343a40;
			}
		
			.pagination a:hover:not(.active) {background-color: #ddd;}

		}
 		.carousel-item {
			/*background-image: url('https://source.unsplash.com/random');*/
			background-repeat : no-repeat;
			background-position: center center;
			background-size : cover;
		}
		
		.carousel .carousel-item {
		  /* height: 20em; */
		}
/* 		.carousel .carousel-item > *:first-child {
		  background-position: 50%;
		  background-repeat: no-repeat;
		  background-size: cover;
		  height: inherit;
		} */

	</style>
</head>

<div layout:fragment="content" class="cover-container d-flex w-100 p-3 mx-auto flex-column">

	<!-- MAIN POSTS -->
	<div class="main-posts">
	    <div class="container">
	        <div class="row">
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_01.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Title one goes here</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Cum sociis natoque penatibus et magnis dis parturient</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_02.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Second Image Title</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Donec venenatis libero sapien, eu condimentum lacus</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_03.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Image Number Three</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Sed vitae lacus eget ipsum scelerisque condimentum</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_04.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Aliquam sed magna risus</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Praesent pharetra blandit ex sed imperdiet</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_05.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Lorem ipsum dolor sit</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Vestibulum faucibus lacus ac risus efficitur</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_06.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Praesent eget lectus mauris</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Morbi placerat pellentesque tortor, sed auctor dolor</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_07.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Donec nec metus non</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Phasellus eu sapien sagittis, sodales neque ac</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_08.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Vestibulum faucibus lacus</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>In aliquet et tellus in iaculis. Ut fermentum quis tellus</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_09.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Pellentesque habitant morbi</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Fusce ullamcorper diam vel arcu scelerisque</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	                <div class="post-masonry col-lg-6 col-md-6 col-sm-1">
	                    <div class="post-thumb">
	                        <!-- <img th:src="@{/example/images/photo_10.jpg}" alt=""> -->
	                        <img src="https://source.unsplash.com/random" alt="">
	                        <div class="title-over">
	                            <h4><a href="#">Pellentesque habitant morbi</a></h4>
	                        </div>
	                        <div class="post-hover text-center">
	                            <div class="inside">
	                                <i class="fa fa-plus"></i>
	                                <span class="date">2021. 04. 17</span>
	                                <h4><a href="/closet/view">Title one goes here</a></h4>
	                                <p>Fusce ullamcorper diam vel arcu scelerisque</p>
	                            </div>
	                        </div>
	                    </div>
	                </div> <!-- /.post-masonry -->
	            </div>
	            <div class="row">
					<!-- pagination -->
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<div class="pagination">
						  <a href="#">&laquo;</a>
						  <a class="active" href="#">1</a>
						  <a href="#">2</a>
						  <a href="#">3</a>
						  <a href="#">4</a>
						  <a href="#">5</a>
						  <a href="#">&raquo;</a>
						</div>
					</div>
					<div class="col-lg-2"></div>
				</div>
	        </div>
	    </div>
	</div>

</html>