<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layouts/layout}"
>
<head>

</head>
	<div layout:fragment="content" class="container-fluid p-0">

	<h1 class="h3 mb-3">Profile</h1>

	<div class="row">
		<div class="col-md-3 col-xl-2">

			<div class="card">
<!-- 				<div class="card-header">
					<h5 class="card-title mb-0">Profile Settings</h5>
				</div> -->

				<div class="list-group list-group-flush" role="tablist">
					<a class="list-group-item list-group-item-action active" data-toggle="list" href="#profile-images" role="tab">
						Profile Images
				    </a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#basic-profile" role="tab">
						Basic Profile
				    </a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#status" role="tab">
						Status
				    </a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#job-classes" role="tab">
						Job / Class
				    </a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#main-quest-progress" role="tab">
						Main Quest Progress
				    </a>
					<a class="list-group-item list-group-item-action" data-toggle="list" href="#duty-progress" role="tab">
						Duty Progress
				    </a>
				</div>
			</div>
		</div>

		<div class="col-md-9 col-xl-10">
			<div class="tab-content">
				
				<div class="tab-pane fade show active" id="profile-images" role="tabpanel">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title mb-0">Profile Images</h5>
						</div>
						<div class="card-body">
							<form>
								<div class="row">
									<div class="mb-3">
										<label class="form-label w-100">File input</label>
										<input type="file" multiple="multiple">
										<small class="form-text text-muted">Example block-level help text here.</small>
									</div>
								</div>
								<!-- table -->
								<table class="table table-sm"
								    id="table"
								    data-use-row-attr-func="true"
									data-reorderable-rows="true"
									data-resizable="true"
									data-height="550">
								<thead>
									<tr>
										<th scope="col" data-field="row_id" data-sortable="false" style="width:25%;">no</th>
										<th scope="col" data-field="filename" data-sortable="false" style="width:25%">filename</th>
										<th scope="col" data-field="preview" data-sortable="false" style="width:25%">preview</th>
										<th scope="col" data-field="actions" data-sortable="false" >actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td data-field="row_id">1</td>
										<td data-field="filename">image.jpg</td>
										<td data-field="preview"><img class="icon" src="https://source.unsplash.com/random"></td>
										<td data-field="actions" class="table-action">
											<a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
										</td>
									</tr>
									<tr>
										<td data-field="row_id">2</td>
										<td data-field="filename">image.jpg</td>
										<td data-field="preview"><img class="icon" src="https://source.unsplash.com/random"></td>
										<td data-field="actions" class="table-action">
											<a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
										</td>
									</tr>
									<tr>
										<td data-field="row_id">3</td>
										<td data-filed="filename">image.jpg</td>
										<td data-field="preview"><img class="icon" src="https://source.unsplash.com/random"></td>
										<td data-field="actions" class="table-action">
											<a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></a>
										</td>
									</tr>
								</tbody>
							</table>
								<button type="submit" class="btn btn-primary">Save changes</button>
								<button type="submit" class="btn btn-success">Show Preview</button>
							</form>

						</div>
					</div>				
				</div>

				<div class="tab-pane fade" id="basic-profile" role="tabpanel">

					<div class="card">
						<div class="card-header">
							<h5 class="card-title mb-0">Basic Profile</h5>
						</div>
						<div class="card-body">
							<form>
								<div class="row row-cols-md-auto align-items-center mb-2">
									<div class="col-md-6">
										<label class="mb-2" for="inlineFormInputName2">Character Name</label>
											<input type="checkbox" class="form-check-input ml-2 " id="customControlInline">
											<label class="form-check-label" for="customControlInline">It's different from in-game name</label>
										<input type="text" class="form-control mb-2 mr-sm-2" placeholder="Somebody">
									</div>
									<div class="col-md-6">
										<label class="mb-2" for="inlineFormInputGroupUsername2">Entitle</label>
										<input type="text" class="form-control mb-2 mr-sm-2" placeholder="Guidance Angel">
									</div>
								</div>
<!-- 								<div class="row">
									<div class="col-md-8">
										<div class="mb-3">
											<label class="form-label" for="inputUsername">Biography</label>
											<textarea rows="2" class="form-control" id="inputBio" placeholder="Tell something about yourself"></textarea>
										</div>
									</div>
								</div> -->
								<div class="row">
									<div class="mb-3 col-md-4">
										<label class="form-label" for="inputState">City</label>
										<select id="inputState" class="form-control">
						                <option selected>Choose...</option>
						                <option>Limsa Lominsa</option>
						                <option>U'ldah</option>
						                <option>Gridania</option>
						              </select>
									</div>
									<div class="mb-3 col-md-4">
										<label class="form-label" for="inputState">Grand Company</label>
										<select id="inputState" class="form-control">
						                <option selected>Choose...</option>
						                <option>The Maelstorm</option>
						              </select>
									</div>
									<div class="mb-3 col-md-4">
										<label class="form-label" for="inputState">Lank</label>
										<select id="inputState" class="form-control">
						                <option selected>Choose...</option>
						                <option>First Storm Lieutenant</option>
						              </select>
									</div>
								</div>	
								<div class="row">
									<div class="mb-3 col-md-2">
										<label class="form-label" for="inputZip">Birth</label>
							              	<select id="inputState" class="form-control">
							                	<option selected>Choose...</option>
							                	<option>Starlight</option>
							                	<option>Shadow</option>
							              	</select>
									</div>
									<div class="mb-3 col-md-2">
										<label class="form-label" for="inputZip">Day</label>
										<select id="inputState" class="form-control col">
						                	<option selected>Choose...</option>
						                	<option>Day 1</option>
						                	<option>Day 2</option>
						              	</select>
									</div>
									<div class="mb-3 col-md-2">
										<label class="form-label" for="inputZip">The Twelve</label>
										<select id="inputState" class="form-control col">
						                	<option selected>Choose...</option>
						                	<option>Halone</option>
						                	<option></option>
						              	</select>
									</div>
								</div>

								<button type="submit" class="btn btn-primary">Save changes</button>
							</form>

						</div>
					</div>
				</div> <!-- #basic-profile -->
				
				<div class="tab-pane fade" id="status" role="tabpanel">
				
					<div class="card">
						<div class="card-header">

							<h5 class="card-title mb-0">Status</h5>
						</div>
						<div class="card-body">
							<form>
								<div class="row">
									<div class="mb-3 col-md-6">
										<label class="form-label" for="inputFirstName">Hometown Server</label>
										<select id="inputState" class="form-control">
						                <option selected>Choose...</option>
						                <option>Tonberry</option>
						                <option>Moogle</option>
						                <option>C</option>
						              	</select>
									</div>
									<div class="mb-3 col-md-6">
										<label class="form-label" for="inputLastName">Main Job</label>
										<select id="inputState" class="form-control col">
						                	<option selected>Choose...</option>
						                	<optgroup label="Classes">
						                	<option>Archer</option>
						                	<option>...</option>
						                	</optgroup>
						                	<optgroup label="Jobs">
						                	<option>Gunbreaker</option>
						                	<option>Dancer</option>
						                	</optgroup>
						              	</select>
									</div>

								</div>
								<div class="row">
									<div class="mb-3 col-md-6">
										<label class="form-label" for="inputFirstName">Eternal Bonding</label>
										<select id="inputState" class="form-control">
						                <option selected>Choose...</option>
						                <option>Looking for a partner</option>
						                <option>I don't want a bonding now</option>
						                <option>...</option>
						              	</select>
									</div>
									<div class="mb-3 col-md-2">
										<label class="form-label" for="inputZip">Plan</label>
										<select id="inputState" class="form-control col">
							                <option selected>Choose...</option>
							                <option>Standard</option>
							                <option>Gold</option>
							                <option>Platinum</option>
						              	</select>
									</div>
									<div class="mb-3 col-md-4">
										<label class="form-label" for="inputLastName">Bonding Sheet</label>
										<select id="inputState" class="form-control col">
							                <option selected>Choose...</option>
							                <option>Sheet [2021. 04. 30]</option>
							                <option>Sheet [2021. 04. 01]</option>
						              	</select>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Save changes</button>
							</form>

						</div>
					</div>
					
				</div> <!-- #status -->
				
				<div class="tab-pane fade" id="job-classes" role="tabpanel">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Job / Class</h5>
							<!-- <h6 class="card-subtitle text-muted">Using the most basic table markup, here’s how .table-based tables look in Bootstrap.</h6> -->
						</div>
						<table class="table table-sm">
							<thead>
								<tr>
									<th style="width:50%;">Job / Class</th>
									<th style="width:50%">Level</th>
<!-- 									<th class="d-none d-md-table-cell" style="width:25%">Date of Birth</th>
									<th>Actions</th> -->
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img class="icon" th:src="@{/images/icons/class/gladiator.png}"> Gladiator</td>
									<td>
										<select id="inputState" class="form-control col">
											<!-- TODO 하드코딩된 숫자 부분 변경 -->
											<th:block th:each="num : ${#numbers.sequence(1,80)}">
												<option th:text="${num}"></option>
											</th:block>
										</select>
									</td>
								</tr>
								<tr>
									<td><img class="icon" th:src="@{/images/icons/class/gladiator.png}"> Gladiator</td>
									<td>
										<select id="inputState" class="form-control col">
											<th:block th:each="num : ${#numbers.sequence(1,80)}">
												<option th:text="${num}"></option>
											</th:block>
										</select>
									</td>
								</tr>
								<tr>
									<td><img class="icon" th:src="@{/images/icons/class/gladiator.png}"> Gladiator</td>
									<td>
										<select id="inputState" class="form-control col">
											<th:block th:each="num : ${#numbers.sequence(1,80)}">
												<option th:text="${num}"></option>
											</th:block>
										</select>
									</td>
								</tr>
								<tr>
									<td><img class="icon" th:src="@{/images/icons/class/gladiator.png}"> Gladiator</td>
									<td>
										<select id="inputState" class="form-control col">
											<th:block th:each="num : ${#numbers.sequence(1,80)}">
												<option th:text="${num}"></option>
											</th:block>
										</select>
									</td>
								</tr>
								<tr>
									<td><img class="icon" th:src="@{/images/icons/class/gladiator.png}"> Gladiator</td>
									<td>
										<select id="inputState" class="form-control col">
											<th:block th:each="num : ${#numbers.sequence(1,80)}">
												<option th:text="${num}"></option>
											</th:block>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> <!-- #job-classes -->
				
				<div class="tab-pane fade" id="main-quest-progress" role="tabpanel">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Main Quest Progress <img class="icon" th:src="@{/images/icons/duty/main_quests_available.png}"></h5>
							<!-- <h6 class="card-subtitle text-muted">Using the most basic table markup, here’s how .table-based tables look in Bootstrap.</h6> -->
						</div>
						<table class="table table-sm">
							<thead>
								<tr>
									<th style="width:50%;">Job / Class</th>
									<th style="width:50%">Progress</th>
<!-- 									<th class="d-none d-md-table-cell" style="width:25%">Date of Birth</th>
									<th>Actions</th> -->
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Reborn Realm</td>
									<td>
										<select class="form-control col">
											<option value="main_quests_available">미진행</option>
											<option value="main_quests_in_progress">진행중</option>
											<option value="main_quests_final_step">완료</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Heavensward</td>
									<td>
										<select class="form-control col">
											<option value="main_quests_available">미진행</option>
											<option value="main_quests_in_progress">진행중</option>
											<option value="main_quests_final_step">완료</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Stormblood</td>
									<td>
										<select class="form-control col">
											<option value="main_quests_available">미진행</option>
											<option value="main_quests_in_progress">진행중</option>
											<option value="main_quests_final_step">완료</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> <!-- #main-quest-progress -->
				
				<div class="tab-pane fade" id="duty-progress" role="tabpanel">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Duty Progress <img class="icon" th:src="@{/images/icons/duty/main_quests_available.png}"></h5>
							<!-- <h6 class="card-subtitle text-muted">Using the most basic table markup, here’s how .table-based tables look in Bootstrap.</h6> -->
						</div>
						<table class="table table-sm">
							<thead>
								<tr>
									<th style="width:50%;">Job / Class</th>
									<th style="width:50%">Progress</th>
<!-- 									<th class="d-none d-md-table-cell" style="width:25%">Date of Birth</th>
									<th>Actions</th> -->
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Reborn Realm</td>
									<td>
										<select class="form-control col">
											<option value="main_quests_available">미진행</option>
											<option value="main_quests_in_progress">진행중</option>
											<option value="main_quests_final_step">완료</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Heavensward</td>
									<td>
										<select class="form-control col">
											<option value="main_quests_available">미진행</option>
											<option value="main_quests_in_progress">진행중</option>
											<option value="main_quests_final_step">완료</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Stormblood</td>
									<td>
										<select class="form-control col">
											<option value="main_quests_available">미진행</option>
											<option value="main_quests_in_progress">진행중</option>
											<option value="main_quests_final_step">완료</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> <!-- #duty-progress -->

			</div>
		</div>
	</div>

</div>

<script>
		$(function() {			
			$('#table').bootstrapTable({
        		onReorderRowsDrop: function (row) {
        			//sortRowOrder();
        		}
			});
			
			// 1행 추가
			$("#addRow").click(function () {

				var row_cnt = $('#table').bootstrapTable('getData').length;
				var goodsId = 'GOODS_00000000001923';
				var goodsNm = '수제크림소스2종(각120g)';
	
				$('#table').bootstrapTable('insertRow', {
					index: row_cnt,
					row: {
					  rId: row_cnt+1,
					  goodsId: goodsId,
					  goodsNm: goodsNm/*,
					  edit: ''*/
					}
			});

		});
			
		sortRowOrder = function() {
			var row_cnt = $('#table').bootstrapTable('getData').length;
			for (var i=0; i < row_cnt; i++) {
				$('#table').bootstrapTable('updateRow', {index: i, row: {'rId' : i+1}});
			}
		}
		
// 		editFormatter = function(value, row, index) {
// 			var btn = '<button type="button" class="btn btn-sm btn-success" onclick="updateSaleGoodsPop(' + index + ');">수정</button>';
// 			btn += '<button type="button" class="btn btn-sm btn-danger" onclick="deleteSaleGoods(' + index + ');">삭제</button>';
// 			return btn;
// 		}
		
	  })
</script> 

</html>