<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

	<select id="selectUserList" parameterType="com.example.demo.domain.UserVO" resultType="com.example.demo.domain.UserVO">
		select 
			user_key
			, user_id
			, username
			<!-- , password -->
			, regist_datetime
			, last_login_datetime
			, authority
		from user_tb
		order by regist_datetime desc
	</select>
	
	<select id="selectUser" parameterType="com.example.demo.domain.UserVO" resultType="com.example.demo.domain.UserVO">
		select 
			user_key
			, user_id
			, username
			<!-- , password -->
			, regist_datetime
			, last_login_datetime
			, authority
		from user_tb
		where user_id = #{userId} and password = #{password}
	</select>

	<update id="updateUserLastLoginDatetime" parameterType="com.example.demo.domain.UserVO">
		update user_tb
		set last_login_datetime = sysdate()
		where user_key = #{userKey}
	</update>
	
	<select id="selectSameUserIdCount" parameterType="com.example.demo.domain.UserVO" resultType="java.lang.Integer">
		select 
			count(*)
		from user_tb
		where user_id = #{userId}
	</select>
	
	<insert id="insertUser" parameterType="com.example.demo.domain.UserVO">
		insert into user_tb
			(user_id
			, username
			, password
			, regist_datetime
			, last_login_datetime
			, authority)
		values
			(#{userId}
			, #{username}
			, #{password}
			, sysdate()
			, #{lastLoginDatetime}
			, 'user')
	</insert>

</mapper>