<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FileMasterMapper">
	
	<select id="selectNextFileMasterId" resultType="java.math.BigDecimal">
		select
			ifnull(max(file_master_id), 0) + 1 as next_file_master_id
		from file_master_tb
	</select>

</mapper>