<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header-fragment">
	<h3 class="float-md-start mb-0">Somebody's <a href="#">Prototype</a></h3>
	
		<!-- 로그인 중일 때 -->
			<!-- 로그아웃 상태일 때 -->
<!-- 		<div class="nav-link dropdown">
			<span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</span>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="#">Logout</a>
			    <a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="#">My Prototype</a>
			  </div>
		</div> -->
	
	<nav class="nav nav-masthead justify-content-center float-md-end">
		<a class="nav-link" href="/">Index</a>
		<a class="nav-link" href="/profile/view">Profiles</a>
		<a class="nav-link"  href="/diary/list">Diary</a>
		<!-- <a class="nav-link" href="/user/sign_in">Sign In</a> -->
		
		<div class="nav-link dropdown" style="float: right; width: 50px;">
			<span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle text-white">
				<img th:src="@{/example/thumb/thumb01.png}" style="width: 50%; height: 100%;" class="avatar img-fluid rounded mr-1" alt="Charles Hall" />
				<span class="bg-danger" style="border-radius : 50%; position: absolute; top: 1.5px; right: 18.7px; width: 7px; height: 7px;"></span>
			</span>
			<!-- <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</span> -->
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  	<a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="#">반응 <span class="badge badge-pill bg-danger ml-2">7</span></a>
			  	<a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="/admin/index">관리하기</a>
			  	<a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="/search/list">둘러보기</a>
			  	<div class="dropdown-divider"></div>
			    <a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="#">로그아웃</a>
			    <a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="#">Help</a>
			  </div>
		</div>
	</nav>
	
</header>

</html>