<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header-fragment">
	<h3 class="float-md-start mb-0"><span th:text="${userInfo.username}"></span>'s <a href="#none">Prototype</a></h3>

	<nav class="nav nav-masthead justify-content-center float-md-end">
		<a class="nav-link" th:href="@{/{userId}(userId = ${userInfo.userId})}">Index</a>
		<a class="nav-link" th:href="@{/{userId}/profile/view(userId = ${userInfo.userId})}">Profiles</a>
		<a class="nav-link" th:href="@{/{userId}/diary/list(userId = ${userInfo.userId})}">Diary</a>
		
		<div class="nav-link dropdown" style="float: right; width: 50px;">
			<span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle text-white">
				<img th:src="@{/example/thumb/thumb01.png}" style="width: 50%; height: 100%;" class="avatar img-fluid rounded mr-1" alt="" />
				<span class="bg-danger" style="border-radius : 50%; position: absolute; top: 1.5px; right: 18.7px; width: 7px; height: 7px;"></span>
			</span>
			<!-- <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</span> -->
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  	<!-- <a th:if="${not #strings.isEmpty(session.userInfo)}" class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="#">반응 <span class="badge badge-pill bg-danger ml-2">7</span></a> -->
			  	<a th:if="${not #strings.isEmpty(session.userInfo)}" class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="/admin/index">관리하기</a>
			  	<a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="/search/list">둘러보기</a>
			  	<div class="dropdown-divider"></div>
			    <a th:if="${not #strings.isEmpty(session.userInfo)}" class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" th:href="@{/logout}">로그아웃</a>
				<a th:if="${#strings.isEmpty(session.userInfo)}" class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" th:href="@{/user/sign_in}">로그인</a>
			    <a class="dropdown-item" style="font-size: 12px !important; text-shadow: none;" href="https://peing.net/en/one_of_dev">Help</a>
			  </div>
		</div>
	</nav>
	
</header>

</html>