<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header-fragment">
	<h3 class="float-md-start mb-0">Somebody's <a href="#">Prototype</a></h3>
	<nav class="nav nav-masthead justify-content-center float-md-end">
		<a class="nav-link" href="/">Index</a>
		<a class="nav-link" href="/profile/view">Profiles</a>
		<a class="nav-link"  href="/closet/list">Closet</a>
		<!-- <a class="nav-link" href="/user/sign_in">Sign In</a> -->

			<div class="nav-link dropdown">
				<a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Sign In</a>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" href="#">Action</a>
			    <a class="dropdown-item" href="#">Another action</a>
			    <a class="dropdown-item" href="#">Something else here</a>
			  </div>
			</div>
	</nav>
</header>

</html>